  body {
    font-size: 34px;  
    font-family: 'Ubuntu', sans-serif;
  }

  .box{
    position:relative;
    padding: 10px 20px 20px 20px;
    background-color: #fefefe;
    margin: 5% auto 10% auto;
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    width: 80%;
  }

  form {
    margin: 20px auto;
  }
  
  fieldset {
    position: relative;
    border: none;  
    margin : 16px 0px;
    padding: 0;

  }
  
  label {
    position: absolute;  
    top: 23px;
    color: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 20px;
  }
  
  input:focus ~ label {
    color: #2E4A62;  
  }
  
  input:focus ~ label,input:valid ~ label {
    top: 0;
    transform: scale(0.6, 0.6);
  }
  
  input {
    line-height: 40px;
    font-size: 20px;  
    width: 100%;
    border: none;  
    margin-top: 10px;
  }
  
  input:focus {
    outline: none;
  }
  
  .after {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #2E4A62 50%, transparent 50%);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.6s ease;
  }
  
  input:focus ~ .after {
    background-position: 0 0;
  }
  
  .btn {
    display:block;
    color: #2E4A62;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    border: solid #2E4A62 3px;
    text-decoration: none;
    background-color:white;
  }
  .button-container{
    text-align:center;
  }
  .button-container > a, .button-container > button{
      margin:10px auto;
  }
  .btn:hover {
    text-decoration: none;
  }

  .form-options{
    position:absolute;
    right: 9px;
    top: 0px;
    font-size: 26px;
  }

  .form-options > div > .fa-trash-alt{
        color : #E94B3C;
        cursor : pointer;
  }

  .button-container{
      margin: 15px;
      text-align:center;
  }

  .remove-item{
    display:inline-block;
  }

  .error{
    margin-top : 3px;
    color : #E94B3C;
  }

  .result-container{
    margin-top: 17px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  @media only screen and (max-width: 600px) {
    .grid-container{
      display: grid;
      grid-template-columns: auto;
    }
  }

  .fu{
    font-family: 'Ubuntu', sans-serif; 
  }
  .fs-20{
      font-size:20px;
  }
  .ta-c{
      text-align:center;
  }
  .w-200{
    width: 200px;
  }